Repository jquery-validation/jquery-validation, pull requests merged in 2018-11, with the labels that each got.

#2222 Additional: Included validation rule for CNPJ from Brazil
  src/additional/cnpjBR.js
  src/localization/messages_pt_BR.js
  test/methods.js
Labels: Additional Methods, NEEDS REVIEW

#2207 mobile number for Russia Federation
  src/additional/mobileRU.js
  test/methods.js
Labels: Additional Methods

#2236 Additional (CNPJBR and CPFBR): Fix not to fail when field is not required
  src/additional/cnpjBR.js
  src/additional/cpfBR.js
Labels: Additional Methods

#2235 Core: Fix contenteditable detection's regression introduced in #2142
  src/core.js
Labels: Bug, Core
